.pushy {
    background: var(--bg-color);
    visibility: visible;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
    background-color: var(--fg-color);
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    .pushy {
        width: 700px;
    }

    .pushy-left {
        -webkit-transform: translate3d(-700px, 0, 0);
        -ms-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0);
    }

    .pushy-open-left #container,
    .pushy-open-left .push {
        -webkit-transform: translate3d(700px, 0, 0);
        -ms-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0);
    }

    .pushy-right {
        -webkit-transform: translate3d(700px, 0, 0);
        -ms-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-700px, 0, 0);
        -ms-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0);
    }
}