/** 
 * https://github.com/atmulyana/nextCart
 **/
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

:root {
    --fg-color: black;
    --bg-color: white;
    --font-size: 16px;
    --line-height: 1.5;
    --color-danger: #f05252; /* red-500 */
    --color-success: #0e9f6e;  /* green-500 */
    --color-warning: #c27803;  /* yellow-500 */
    --input-text-color: #475569;
    --input-border-color: #475569;
    font-size: var(--font-size);
}
:root.dark {
    --fg-color: white;
    --bg-color: black;
    --input-text-color: #cbd5e1;
    --input-border-color: #cbd5e1;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: white;
        --bg-color: black;
    }
}*/

@layer base {
    body {
        @apply box-border;
        background-color: var(--bg-color);
        color: var(--fg-color);
        font-family: Arial, Helvetica, sans-serif;
        font-size: var(--font-size);
        line-height: var(--line-height);
        margin: 0 0 140px 0;
    }

    button, input[type=button] input[type=submit], input[type=reset], .btn {
        @apply inline-block overflow-visible
            border rounded-sm border-solid border-transparent py-1.5 px-3
            text-base text-center align-middle whitespace-nowrap;
        height: calc(1.5rem /*line-height*/ + .75rem /*padding*/ + 2px /*border*/);
    }
    .btn-sm {
        @apply px-2 py-1 text-sm;
        border-radius: .2rem;
        height: calc(1.25rem /*line-height*/ + .5rem /*padding*/ + 2px /*border*/);
    }
    .btn-primary {
        @apply bg-[var(--fg-color)] border-[var(--fg-color)] text-[var(--bg-color)];
    }
    .btn-danger {
        @apply bg-[var(--color-danger)] border-[var(--color-danger)] text-white hover:opacity-70
    }
    [class*="btn-outline-"] {
        @apply bg-transparent;
    }
    .btn-outline-primary {
        @apply text-blue-500  border-blue-500 hover:text-white hover:bg-blue-500;
    }
    .btn-outline-success {
        @apply text-[var(--color-success)]  border-[var(--color-success)] hover:text-white hover:bg-[var(--color-success)];
    }
    .btn-outline-danger {
        @apply text-[var(--color-danger)]  border-[var(--color-danger)] hover:text-white hover:bg-[var(--color-danger)];
    }
    .btn-outline-warning {
        @apply text-[var(--color-warning)]  border-[var(--color-warning)] hover:text-white hover:bg-[var(--color-warning)];
    }
    button[data-testid^="carousel-"] {
        @apply !p-0 !h-auto !w-auto;
    }
    button[data-testid="carousel-indicator"] {
        @apply !h-3 !w-3;
    }
    a {
        text-decoration: none;
    }
    a[href]:not(.btn,.noline):hover {
        text-decoration: underline;
    }
    button:disabled, a.disabled {
        @apply opacity-60 pointer-events-none;
    }
    button:not(:disabled) {
        cursor: pointer;
    }

    input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=range]):not([type=reset]):not([type=submit]),
    select, .form-input {
        @apply block w-full m-0 py-1.5 px-3 text-base
            border border-solid rounded-sm border-[var(--input-border-color)]
            bg-clip-border bg-[var(--bg-color)] text-[var(--input-text-color)];
        height: calc(1.5rem /*line-height*/ + .75rem /*padding*/ + 2px /*border*/);
    }
    textarea {
        @apply block w-full m-0 py-1.5 px-3 text-base
            border border-solid rounded-sm border-[var(--input-border-color)]
            bg-clip-border bg-[var(--bg-color)] text-[var(--input-text-color)];
    }
    input, select, textarea {
        @apply outline-0;
    }

    label {
        @apply inline-block text-base py-[calc(0.375rem+1px)];/* input's padding+border (will make label inline with input)*/
    }
    .checkboxes label {
        @apply py-0;
    }

    svg.feather {
        display: inline-block;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: .5rem;
        margin-top: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }

    p {
        @apply mb-4;
    }

    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    ol, ul {
        @apply list-inside;
    }

    [data-testid="flowbite-dropdown"] > ul {
        @apply list-none;
    } 

    /* .notify-message {
        @apply fixed w-full pt-2.5 h-12 bottom-0 text-center text-xl;
        z-index: 9999;
    }
    .notify-success {
        @apply text-green-600 bg-green-200 dark:text-green-400 dark:bg-green-800;
    }
    .notify-warning {
        @apply text-yellow-600 bg-yellow-200 dark:text-yellow-400 dark:bg-yellow-800;
    }
    .notify-danger {
        @apply text-red-500 bg-red-200 dark:text-red-400 dark:bg-red-800;
    } */
    [data-testid="flowbite-alert-wrapper"] > div {
        @apply flex-auto text-center text-xl;
    }

    .pt-1\/12 {
        padding-top: 8.333333%;
    }
    .pt-full {
        padding-top: 100%;
    }

    .bordered {
        @apply border border-black/25 dark:border-white/25 rounded-sm p-5 my-4;
    }
    ul.bordered {
        @apply flex flex-col border-0 rounded-none p-0;
    }
    ul.bordered > li {
        @apply block border [&:not(:first-child)]:border-t-0 border-black/25 dark:border-white/25 first:rounded-t last:rounded-b
               px-5 py-3;
    }
    .border-blurry {
        @apply border-black/15 dark:border-white/15;
    }

    .checkout-left-pane {
        @apply basis-full md:basis-5/12 shrink-0;
    }
    .checkout-right-pane {
        @apply hidden md:block basis-7/12 grow shrink-0;
    }
    .checkout-left-pane:empty {
        @apply !hidden;
    }
    .checkout-left-pane:empty + .checkout-right-pane {
        @apply !block;
    }
    .checkout-buttons {
        @apply flex justify-between mb-4;
    }
    .checkout-buttons:has(> *:only-child) {
        @apply !justify-end;
    }
}