/** 
 * https://github.com/atmulyana/nextCart
 **/
@keyframes slidedown {
    from {
        transform: translateY(-67rem); /*calc(21 * (1.5rem + 1.5rem + 1px) + 1px + 2.5rem)*/
    }
    to {
        transform: translateY(0px);
    }
}
 
@keyframes slideup {
    from {
        /* display: flex!important; */
        transform: translateY(0px);
    }
    to {
        /* display: flex!important; */
        transform: translateY(-67rem);
    }
}

.slide-down, .slide-up {
    animation-duration: 100ms;
    position: relative;
    top: 0px;
}

.slide-down {
    animation-name: slidedown;
}

.slide-up {
    animation-name: slideup;
    /*display: none!important;*/
}